extends layouts/default
append vars
  - dtLyr.pageType = req.app.get('pageConstants').HOME.identifier
block mainContent
  div.container-fluid
    - var menuNodes = results.tpMenuNode
    ul.list
      li.marker Shop By Category
      each menuNode in menuNodes
        -var type = menuNode.type
        if type == '1'
          li.list-plain #{menuNode.nm}
            ul.list
              each childNode in menuNode.ch
                li
                  a(href="#{childNode.url}") #{childNode.nm}
    ul.list
      li.marker Shop By Concern
      each menuNode in menuNodes
        -var type = menuNode.type
        if type == '2'
          li.list-plain #{menuNode.nm}
            ul.list
              each childNode in menuNode.ch
                li
                  a(href="#{childNode.url}") #{childNode.nm}
